
$main-color: #f98404; //usar con letra negra
$secondary-color: #ff9a3c; //usar con letra negra
$light-color: #f8a66f; //usar con letra negra
$second-light-color: #ffc691; //usar con letra negra
$third-light-color: #fcdab1;
$dark-color: #ff7300b9; //usar con letra negra
$light-yellow: #ffc34d; //usar con letra negra
$dark-yellow: #dda900; //usar con letra negra
